// Navbar if user is not logged in

nav.navbar
  .nav-left
    a(class={ 'active-navitem': currentPage === 'about' }, href="/about") Our Story
    a(class={ 'active-navitem': currentPage === 'login' }, href="/login") Login
    a(class={ 'active-navitem': currentPage === 'signup' }, href="/signup") Sign Up