doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title="Blog App"
    link(href="/public/styles/nav.css", rel="stylesheet")
    link(href="/public/styles/global.css", rel="stylesheet")
  body
    include ../components/nav.pug
    block content
    include ../components/footer.pug