extends ../layouts/main.pug

block title
  title="About Me"

block content
  h1 This is about me
  p.autobio.
    I am a 2nd year computer science student. Interested in linux,
    low-level languages, low-level computing, and backend.