extends ../layouts/main_private.pug

block title
  title="Write"

block link_css
  link(href="/public/styles/write.css", rel="stylesheet")

block content
  .write-container
    h1 Write a New Post
    form.write-form(method="post", action="/write/new", enctype="multipart/form-data")
      .form-group
        label(for="title") Title
        input#title(type="text", name="title", placeholder="Enter title", required)

      .form-group
        label(for="content") Content
        textarea#content(name="content", rows="10", placeholder="Write your post...", required)

      .form-group
        label(for="photo") Upload Photo
        .photo-input-container
          input.js-photo#photo(type="file", name="photo", accept="image/png image/jpeg")
          button.js-clear-photo.js-hidden(type="button")
            img(src="/public/images/x-lg.png")
        img.js-photo-preview#photo-preview.hidden

      .form-actions
        button(type="submit") Publish
        
  if (error)
    div.error-message#error-message #{error}

block scripts
  script(src="/public/scripts/write.js") 
  if error
    script(src="/public/scripts/scrollToError.js")