:root {
  --button-main-color: #0066ff;
  --button-main-color-hover: #0257d6;
  --button-delete-color:rgb(250, 94, 85);
  --button-delete-background:#b62324;
  --error-message-color: rgb(204, 0, 0);
  --error-message-background: rgb(255, 235, 233);
  --upload-avatar-background: rgb(25, 135, 84);
}

html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

main {
  padding: 5px 30px 30px 30px;
  margin-top: 60px;
}
