.container {
  padding: 5px 30px 30px 30px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--button-main-color);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.error-message {
  background-color: var(--error-message-background);
  color: var(--error-message-color);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}