.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active-navitem {
  background-color: var(--button-main-color);
}

.active-navitem:hover {
  background-color: var(--button-main-color-hover) !important;
}

.navbar a:hover {
  background-color: #111;
}