.profile-information {
  width: 50%;
}

form {
  display: none;
  margin-top: 30px;
}

.is-editing-profile form.edit-profile-form {
  display: block;
}

.is-editing-profile .username-main, .is-editing-profile .description,
.is-editing-profile .edit-profile {
  display: none;
}

form.edit-profile-form input, form.edit-profile-form textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

form.edit-profile-form textarea {
  resize: none;
}

.profile-icon-content {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

button {
  border: none;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.edit-profile, .delete-profile {
  margin-top: 20px;
}

/* Deleting Profile CSS */

.delete-profile {
  display: block;
  color: var(--button-delete-color);
  border-radius: 4px;
  border-color: var(--button-delete-background);
  transition-duration: 0.1s;
}

.delete-profile:hover {
  background-color: var(--button-delete-background);
  color: white;
}

.confirm-deleting {
  background-color: var(--button-delete-background);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.is-deleting-profile form.delete-profile-form {
  display: block;
}

.error-message {
  background-color: var(--error-message-background);
  color: var(--error-message-color);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}