.profile-information {
  width: 50%;
}

form:not(.upload-avatar-form) {
  display: none;
  margin-top: 30px;
}

.is-editing-profile form.edit-profile-form {
  display: block;
}

.is-editing-profile .username-main, .is-editing-profile .description,
.is-editing-profile .edit-profile {
  display: none;
}

form.edit-profile-form input, form.edit-profile-form textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

form.edit-profile-form textarea {
  resize: none;
}

.profile-icon-content {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-bottom: 40px;
}

button {
  border: none;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.edit-profile, .delete-profile {
  display: block;
  margin-top: 20px;
}

/* Deleting Profile CSS */

.delete-profile {
  display: block;
  color: var(--button-delete-color);
  border-radius: 4px;
  border-color: var(--button-delete-background);
  transition-duration: 0.1s;
  font-size: 16px;
}

.delete-profile:hover {
  background-color: var(--button-delete-background);
  color: white;
}

.confirm-deleting {
  background-color: var(--button-delete-background);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.is-deleting-profile form.delete-profile-form {
  display: block;
}

/* Upload avatar  CSS */

.upload-avatar-form {
  margin-top: -100px;
  margin-left: 260px;
  margin-bottom: 40px;
}

.upload-avatar-form #avatar-input {
  display: none;
}

.upload-avatar-form #avatar-btn {
  background-color: var(--upload-avatar-background);
  border-radius: 50%;
  padding: 10px;
}

#avatar-btn img {
  object-fit: cover;
  width: 24px;
}


.error-message {
  background-color: var(--error-message-background);
  color: var(--error-message-color);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

/* Logout Link */

a.logout-btn {
  display: inline-block;
  padding: 6px 10px 6px 10px;
  background: #ededf0;
  color: var(--button-delete-color);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out, transform 0.1s ease-in-out;
  margin-top: 20px;
}

a.logout-btn:hover {
  background: var(--button-delete-background);
  color: white;
}