extends ../layouts/main.pug

block title
  title="Login"

block link_css
  link(href="/public/styles/login.css", rel="stylesheet")

block content
  form(action = "/login" method = "POST")
    div.container
      h2 Login
      div.row
        input(name = "user" type = "text" required placeholder = "Username")
      
      div.row
        input(name = "password" type = "password" required placeholder = "Password")
      
      div.row
        input(type = "submit" value="Login")
      
      div.signup Don't have an account? 
        a(href="/signup") Sign Up
      
      if (error)
        div.error-message #{error}