extends ../layouts/main.pug

block title
  title="Main"

block link_css
  link(href="/public/styles/protected.css", rel="stylesheet")

block content
  h1 Hi #{username}!
  h2 Great Job Loggin-in! 
  div Wanna Logout? 
    a(href="/logout") Logout

  if (error)
    div.error-message #{error}