extends ../layouts/main.pug

block title
  title="Sign Up"

block link_css
  link(href="/public/styles/login.css", rel="stylesheet")

block content
  if(message)
    h4 #{message}
  form(action = "/signup" method = "POST")
    div.container
      h2 Sign Up
      div.row
        input(name = "id" type = "text" required placeholder = "Username")
      
      div.row
        input(name = "password" type = "password" required placeholder = "Password")
      
      div.row
        input(name = "repeat_password" type = "password" required placeholder = "Repeat Password")
      
      div.row
        input(type = "submit" value="Sign Up")
      
      div.signup Already have an account? 
        a(href="/login") Login